h1{
    text-align: center;
}

#exp{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-left: 11%;
    float: left;
}

.textoDireito{
    margin-left:50%;
}  

.textoDireito h3{
    margin-left:21%;
}


.textoDireito h1{
    margin-left:18%;
}

.textoDireito p{
    margin-right: 13%;
}

#exp2{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-right: 11%;
    float: right;
}

.textoEsquerdo{
    margin-right:29%;

}  

.textoEsquerdo h3{
    margin-right:40%;
}

.textoEsquerdo p{
    margin-right:37%;
}

.textoEsquerdo h1{
    margin-right: 40%;
}

.esquerdo{
    margin-left: 30%;
}

#exp{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-left: 11%;
    float: left;
}



#exp3{    
    border-radius: 50%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-right: 11%;
    float: right;
}   

#exp5{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-left: 11%;
    float: left;
}